.computer-solutions-section {
  @media #{$small-and-down} {
    float: none !important;
    margin: 80px 0 0 0;
  }
    .computer-solutions-header-row {
      position: relative;
    }
    .computer-solutions-image-wrapper {
          position: relative;
          display: inline-flex;
          height: 23em;
          width: 100%;

          @media #{$small-and-down} {
            height: 12em;
          }

          .front-image {
            height: auto;
            position: relative;
            margin: auto;
            max-width: 393px;
            width: 100%;
            z-index: 1;

            @media #{$small-and-down} {
              max-height: 143px;
              width: 100%;
            }
          }
          .background-image {
            background-image: url('../../assets/images/texture-green.png');
            background-size: cover;
            background-repeat:no-repeat;
            height: 100%; 		
            position: absolute;
            right: 0;
            width: 100%;		
          }		
    }
    .computer-solutions-header-logo {
      background-repeat: no-repeat;
      background-size: contain;
      padding: 10% 0; 
      max-width: 393px;
      max-height: 305px;
      width: 100%;
    }	

    .computer-solutions-content-header {
      bottom: 0;
      color: $asphalt;
      display: inline-block;
      font-family: Raleway-Light;
      font-size: .68em;
      font-weight: 500;
      line-height: 16px;
      margin: 0 30px !important;
      position: absolute;
      
      @media #{$small-and-down} {
        position: relative;
        padding: 20% !important;
        margin: 0 !important;
      }

      .computer-solutions-small-title {
        color: $secondary;
        font-family: Raleway-Bold;
        font-size: 1.5em;
        font-weight: bold;
        line-height: 19px;
        margin: 0;
      }

      .computer-solutions-big-title {
        color: $primary;
        font-family: Raleway-Bold;
        font-weight: bold;
        letter-spacing: 1px;
        line-height: 60px;
        margin: 0px;
        margin-left: -30px;
        max-width: 372px;
        
        @media #{$small-and-down} {
          font-size: 3em;
          line-height: 36px;
        }
        
        @media #{$medium-and-up} {
          font-size: 3.9em;
        }
        
        @media #{$large-and-up} {
          font-size: 5em;
        }
      }

      .separator-green {
        display: inline-block;
        margin: 25px 0;
      }

      .header-paragraph {
        margin: 0;
        max-width: 312px;
      }
    }

    .computer-solutions-content-wrapper {
      text-align: right;
      padding: 10px;
      
      @media #{$small-and-down} {
        padding: 0;
      }

      .slick-slider{
        height: 100%;
      }

      .computer-solutions-content-dinamic-changes {
        background-color: $primary;
        padding: 13px;
        width: min-content !important;
        position: relative;
        z-index: 1;

        .link-dinamic-change {
          align-items: center;
          font-size: .56em;
          position: relative;     
          margin-top: 10px;
          margin-bottom: 10px;
          z-index: 100;

          @media #{$medium-and-up} {
            display: flex;
            flex-direction: column-reverse;
            text-align: center;
          }

          @media #{$large-and-up} {
            display: inline-flex;
            flex-direction: row;
            text-align: right;
          }

            .topic-paragraph {
              color: $smoke;
              margin: 12px;
              width: min-content;	
              
              @media #{$small-and-down} {
                display: none;
              }
            }

            .topic-paragraph:hover {
              color: $secondary;
            }

            .rectangle-changing-topic {
              height: 50px;
              width: 50px;
              border-radius: 10px;
              background-color: $smoke;
              
              @media #{$small-and-down} {
                height: 35px;
                width: 35px;
                margin: 20px 0;
              }
            }
            a {
              text-decoration: none;
            }
        }
        .selected{
          :nth-child(odd) {
            color: $secondary;
          }

          :nth-child(even) {
            background: $secondary;
          }          
        }
      }
    }

    .computer-solutions-content-middle-wrapper {
      padding: 0px 5%;
      text-align: left;

        .computer-solutions-title-middle {
          color: $primary;
          font-family: Raleway-Bold;
          margin: 0px;
        }

        .computer-solutions-paragraph-middle {
          color: $asphalt;
          font-family: Raleway-Light;
          font-size: 11px;
          font-weight: 500;
          line-height: 18px;
        }

        .computer-solutions-image-middle {
          margin: 30px 0;
          width: 100%;
        }
    }
    
    .padding-none{
      @media #{$small-and-down} {
        padding: 0;
      }
    }
  
    .padding-wrapper{ 
      @media #{$medium-and-up} {
        padding: 5% !important;
      }

      @media #{$large-and-up} {
        padding: 0 !important;
      }
    }
    .computer-solutions-left-side-module-wrapper {
      text-align: left;
      color: $asphalt;
      font-family: Raleway-Light;
      font-size: .68em;
      font-weight: 500;
      line-height: 16px;

      &.module-wrapper-float {
        @media #{$medium-and-up} {
          float: left;
        }

        @media #{$large-and-up} {
          float: none;
        }
      }

      @media #{$medium-and-up} {
        display: inline-block;
        width: 48%
      }

      @media #{$large-and-up} {
        display: block;
        width: 100%;
      }

        .computer-solutions-left-side-title {
          background-color: $secondary;
          color: $white;		
          font-size: .81em;	
          font-weight: bold;
          line-height: 16px;
          text-align: center;
          padding: 3px;
        }
    }
}

				