.about {
  .slide-image {
    background: url('../images/services/about-1.jpg') center/cover no-repeat;
    width: 82%;
  }

  .texture {
    height: 15vw;
    margin-top: 5vw;
  }

  .section-title {
    display: inline-block;
    margin: 0.8em 0 0.2em -0.8em;
    width: 45%;

    @media #{$small-and-down} {
      margin: 3em 0 0.4em 8%;
    }
  }

  .separator-green {
    margin-bottom: 28px;
    margin-left: -15px;
  }
}
