.clients {
  .slide-image {
    background: url('../images/clients/clients.png') center/cover no-repeat;
    width: 82%;
  }

  .section-title {
    display: inline-block;
    margin: 0.5em 0 0.5em -0.5em;

    @media #{$medium-and-up} {
      width: 50%;
    }

    @media #{$small-and-down} {
      margin: 3em 0 0.4em 8%;
    }
  }

  .options {
    width: 100%;
  }

  .separator-green {
    margin: 0 0 3em 0;
  }
}
