.clients {
  .slide-image {
    background: url('../images/clients/clients.png') center/cover no-repeat;
    width: 82%;
  }

  .section-title {
    display: inline-block;
    margin: 0.5em 0 0.5em -0.5em;
  }

  .separator-green {
    margin: 0 0 3em 0;
  }
}
