.scope {
  .slide-image {
    background: url('../images/scope/e-gob.svg') top right/contain no-repeat;
    margin-bottom: 4em;
  }

  .titles {
    height: auto;
    margin-top: 8em;

    @media #{$small-and-down} {
      margin-top: 0;
    }
  }

  .options {
    @media #{$small-and-down} {
      margin-top: 8em;
    }
  }
}
