.section {
  padding-top: 0;

  .decor {
    padding: 0;
    position: relative;
  }

  .slide-image {
    height: 32vw;
    width: 84%;
  }

  .texture {
    background: url('../images/texture-green-short.png') center/130% no-repeat;
    height: 190px;
    margin-left: -15% !important;
    margin-top: 70px;
    width: 80%;
  }

  .titles {
    height: 32vw;
    padding: 0;
    position: relative;
  }

  .section-subtitle {
    color: $secondary;
    font-family: Raleway-Bold;
    font-size: 1.4em;
    margin: 1em 0 1em -1.6em !important;
    padding: 0;
  }

  .section-title {
    color: $primary;
    font-family: Raleway-Bold;
    font-size: 5.4em;
    margin: 0 0 0.5em -0.5em;
  }

  .titles-decor {
    background: url('../images/devices2.svg') center/cover no-repeat;
    bottom: 15%;
    height: 93px;
    position: absolute;
    right: 10%;
    width: 198px;
  }

  .options {
    padding: 0;
    text-align: right;
  }

  .option {
    background: $secondary;
    border: none;
    border-radius: none;
    color: $black;
    display: inline-block;
    font-family: Raleway-Medium;
    font-size: 1.4em;
    margin-bottom: 1em;
    margin-right: 18%;
    min-height: 50px;
    padding: 0.5em 10%;
    width: 60%;

    &:hover, &.active {
      background: $primary;
      color: $secondary;
    }
  }

  .info {
    display: none;
    margin-bottom: 12em;
    padding: 0 12em 0 1em;

    &.active {
      display: block;
    }

    .info-title {
      color: $primary;
      font-family: Raleway-Bold;
      font-size: 1.6em;
      margin: 0;
      text-transform: uppercase;
    }

    .info-subtitle {
      font-family: Raleway-Bold;
      font-size: 1.4em;
      margin: 0;
    }

    .info-paragraph, .info-list {
      color: $asphalt;
      font-family: Raleway-Medium;
      font-size: 1.4em;
      margin: 0.2em 0 1.4em;

      .info-subtitle {
        font-size: 1em;
      }
    }

    .info-list {
      font-size: 1.4em;
      margin-top: 0.5em;
      padding-left: 1.8em;

      &.decimal {
        .info-item {
          list-style-image: none;
          list-style-type: decimal;
        }
      }
    }

    .info-item {
      list-style-image: url(../images/icons/bullet.svg);
      padding-left: 1em;
    }

    .info-image {
      margin: 1em 0;
      max-width: 100%;
    }

    .value-wrapper {
      padding: 3em 0 1em 3em;
    }

    .value-image {
      display: inline-block;
      margin-right: 3em;
      vertical-align: middle;
    }

    .value-text {
      display: inline-block;
      font-family: Raleway-Regular;
      vertical-align: middle;
      width: calc(100% - 88px);
    }

    .value-head {
      font-family: Raleway-Bold;
      font-size: 1.4em;
      margin: 0.4em 0;
    }

    .value-paragraph {
      font-size: 1.4em;
      margin: 0.4em 0;
    }
  }

  .info-link {
    border: solid 2px $secondary;
    color: $secondary;
    display: inline-block;
    font-family: Raleway-Bold;
    font-size: 1.1em;
    line-height: 29px;
    margin-top: 2em;
    padding: 0 3em;
    text-transform: uppercase;

    &:hover {
      background-color: $secondary;
      color: $white;
    }
  }

  .info-drop {
    color: $primary;
    cursor: pointer;
    font-family: Raleway-Bold;
    font-size: 1.4em;
    margin: 1em 0 0;
    text-transform: uppercase;
  }

  .info-down {
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease;

    &.visible {
      height: auto;
    }
  }
}
