.government-section {
	color: $asphalt;
	font-family: Raleway-Light;
	line-height: 16px;
	
	@media #{$small-and-down} {
  	margin: 80px 0 0 0;
  }
		.col {	
			@media #{$small-and-down} {
				padding: 0px !important;	
			}
		}
		.government-image-wrapper {
			position: relative;
			display: inline-flex;
			height: 25em;
			width: 100%;
      
      @media #{$small-and-down} {
        height: 12em;
      }
		
			.front-image {
				height: auto;
				position: relative;
				margin: auto;
        max-width: 256px;
				width: 80%;
  			z-index: 1;
				
				@media #{$small-and-down} {
          max-height: 183px;
					width: 50%;
				}
			}
			.background-image {
				background-image: url(../../assets/images/texture-green.png);
				background-size: cover;
				background-repeat:no-repeat;
				height: 100%; 		
    		position: absolute;
				right: 0;
				width: 50%;		
				
				@media #{$small-and-down} {
					width: 100%;
				}
			}		
		}
	
		.government-content-wrapper {
			padding: 20% 10%;
      font-size: .75em;
			
			@media #{$small-and-down} {
				padding: 20%;
			}
			
			  .small-title-header {
					color: $secondary;
					font-family: Raleway-SemiBold;
					font-size: 1.3em;
					line-height: 19px;
					margin: 0;
				}
			
				.big-title-header {
					color: $primary;	
					font-family: Raleway-Bold;
					letter-spacing: 1px;
					line-height: 60px;
					margin: 0 0 0 -30px;
          
          @media #{$small-and-down} {
					  font-size: 2.14em;
				  }
          
          @media #{$medium-and-up} {
            font-size: 2.85em;
          }

          @media #{$large-and-up} {
            font-size: 3.85em;
          }
				}
			
				.line {
					border: 1px solid;
    			color: #D9DC58;
					display: inline-block;
   				width: 33px; 
				}
				
				.government-image-squeme {
					// asset missing background-image: url();
					background-color: gray;
					height: 14em;
					width: 100%;
				
				}
		}
}