.background-image-who{
  background-image: url("../images/background-beige.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  padding: 50px 80px 75px 0 !important;

  @media #{$medium-and-up} {
    height: 60vw;
  }

  @media #{$medium-and-down} {
    height: 75vw;
  }
}

.oficial-image-who{
  background-image: url("../images/writting.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.small-title-wrapper-who{
  height: 100%;
  width: 100%;
  padding: 75px 75px 0 25px;

  @media #{$medium-and-up} {
    padding: 0;
  }

  @media #{$medium-and-down} {
    padding: 0;
  }

  .small-title-who{
  	color: #D9DC58;
  	font-family: Raleway-Bold;
  	line-height: 1.64em;
  	text-align: center;
  	width: 60%;
  } 
}

.big-title-wrapper-who{
  height: 100%;
  margin-left: -3.5em;
  padding: 2em 0 -1.5em 1em;
  width: 100%;
  z-index: 2;

  @media #{$medium-and-up} {
    margin: auto;
  }

  @media #{$medium-and-down} {
    margin: auto;
  }

  .big-title-who{
  	color: $primary;
  	font-family: Raleway-Bold;
  	line-height: 1.3em;
  	margin: 0;
  	width: 50%;
  }
}

.section-paragraph-who{
  

  .wrapper-paragraph-who{
  	margin: auto;
  	width: 42%;

  	@media #{$medium-and-up} {
      width: 55%;
    }

  	@media #{$medium-and-down} {
      width: 74%;
    }

  	.paragraph-who{
  		color: $asphalt;
  		font-family: Raleway-Regular;
  		font-size: .7em;
  		font-weight: bold;
  		line-height: 1.3em;
  		text-align: left;
  	}
  }
}

.button-who{
  border: solid 2px $secondary;
  color: $secondary;
  display: block;
  font-family: Raleway-Bold;
  font-size: 0.6em;
  letter-spacing: 0.1em;
  line-height: 2.6em;
  margin-top: 0.8em;
  margin: auto;
  padding: 0 1.5em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 42%;

  @media #{$medium-and-up} {
    width: 55%;
  }

  @media #{$medium-and-down} {
    width: 74%;
  }

  &:hover{
  	cursor: pointer;
  	background-color: $secondary;
  	color: $white;
  }
}