.blog-cover {
  background-image: url("../images/robot.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 80px;

  .blog-title-wrapper {
    padding: 30px 30px 80px 30px;

    .blog-titles {
      border: 8px solid $white;
      text-align: center;

      .blog-small-title {
      	color: $secondary;
      	font-family: Raleway-SemiBold;
      	margin-top: 40px;
      }

      .blog-big-title {
      	color: $white;
      	font-family: Raleway-SemiBold;
      	margin-bottom: 30px !important;
      	margin: auto;
      	text-align: center;
      	width: 74%;
      }
    }
  }
}

.blog-info-cover {
  background-color: $secondary;

  .time-wrapper {
  	padding: 1em;

  	.blog-cover-time {
  	  color: $asphalt;
  	  font-family: Raleway-SemiBold;
  	  font-size: .8em;	
  	  margin-top: 15px !important;
  	  margin: auto;
  	}
  }

  .info-wrapper {
  	padding: 1em;

  	.info-cover {
  	  color: $primary;
  	  font-family: Raleway-SemiBold;
  	  font-size: .8em;
  	  margin-top: 15px !important;
  	  margin: auto;
  	  text-align: left;
  	}
  }
}