@font-face {
    font-family: Raleway-Light;
    src: url(/assets/fonts/raleway/RalewayLight.ttf);
}

@font-face {
    font-family: Raleway-Regular;
    src: url(../assets/fonts/raleway/Raleway-Regular.ttf);
}

@font-face {
    font-family: Raleway-SemiBold;
    src: url(../assets/fonts/raleway/Raleway-SemiBold.ttf);
}