$primary:   #07778C;
$secondary: #D9DC58;

$empress-blue:  #07778C;
$empress-green: #D9DC58;

$ashes:    #D6D6D6;
$asphalt:  #4A4A4A;
$black:    #000000;
$bone:     #F6F6F6;
$charcoal: #3E3E3E;
$ivory:    #EBEBEB;
$smoke:    #9B9B9B;
$white:    #FFFFFF;
