$primary:   #07778C;
$secondary: #D9DC58;

$empress-blue:  #07778C;
$empress-green: #D9DC58;

$dark-brown: #3E3E3E;
$dark-gray:  #9B9B9B;

$ashes:    #D6D6D6;
$asphalt:  #4A4A4A;
$black:    #000000;
$bone:     #F6F6F6;
$charcoal: #3E3E3E;
$ivory:    #EBEBEB;
$smoke:    #9B9B9B;
$white:    #FFFFFF;
$dark-bone:#F3F3F3;



//To delete after use
$grave:            #4A4A4A;
$grayBackground:   #757779;
$grayFirstSection: #7F8181;
$greenButton:      #9BD53B;
$lightGrey:        #EFEFEF;
$white:            #FFFFFF;

// divided sections
$divButton:        #757779;

// Footer
$footerLink:       #757779;

// Theme 2
$clear:            #EBE5E5;
$dark:             #BBBBBB;
$grayButton:       #9B9B9B;
$greyText:         #4E4E4E;
$lineColor:        #979797;
$portfolioText:    #4E4E4E;
$sky:              #DBE5EE;
$stone:            #D6D6D6;
