.contact-section {
  background-color: $primary;
  color: $white;
  clear: both;
  padding: 7em 6em;

  @media #{$medium-and-down} {
    padding: 5em 4em;
  }

  @media #{$small-and-down} {
    padding: 3em 2em;
  }

  .contact-title {
    color: $white;
    font-family: Raleway-Bold;
    letter-spacing: 1px;
    line-height: 60px;

    @media #{$small-and-down} {
      font-size: 3.8em;
    }

    @media #{$medium-and-up} {
      font-size: 4em;
    }

    @media #{$large-and-up} {
      font-size: 5.8em;
    }
  }

  .contact-row {
    align-items: center;
    display: flex;
    margin-top: 20px;

    @media #{$small-and-down} {
      display: block !important;
    }
  }

  .contact-form {
    height: 50px;
    width: 100%;

    &.submitted {
      .contact-input:invalid {
        border: none;
        border-bottom: solid 2px $blood;
      }
    }
  }

  .contact-field {
    display: none;
    height: 100%;
    width: 100%;
  }

  .contact-input, .contact-radiogroup {
    float: left;
    width: calc(100% - 60px);
  }

  .contact-input {
    background-color: $primary;
    border: none;
    border-bottom: solid 2px $white;
    box-shadow: none;
    color: $white;
    font-size: 1.8em;
    line-height: 48px;

    &::placeholder {
      color: $ashes;
    }
  }

  .radio-wrapper {
    display: block;
    float: left;
    padding: 6px 7.5px;
    width: 25%;

    @media #{$small-and-down} {
      width: 50%;
    }

    @include on-event {
      .radio-custom {
        background-color: $smoke;
      }
    }
  }

  .radio-input {
    position: absolute;
    visibility: hidden;

    &:checked ~ .radio-custom {
      background-color: $secondary;
    }
  }

  .radio-custom {
    background-color: $ashes;
    border-radius: 5px;
    color: $primary;
    cursor: pointer;
    display: inline-block;
    font-family: Raleway-Bold;
    font-size: 1.1em;
    line-height: 38px;
    text-align: center;
    width: 100%;
  }

  .next-btn {
    background: url('../images/icons/form-next.svg') right center no-repeat;
    border: none;
    height: 100%;
    width: 60px;
  }

  .contact-alert {
    color: $secondary;
    float: left;
    height: inherit;
    position: relative;
    width: calc(100% - 60px);

    &.success {
      color: $secondary;
    }

    &.error {
      color: $white;
    }
  }

  .alert-center {
    @include center(false,true);

    font-family: Raleway-Medium;
    font-size: 1.8em;
    line-height: 1.2em;
    margin: 0;
    width: 100%;
  }

  .success-icon {
    background: url('../images/icons/form-check.svg') right center no-repeat;
    float: left;
    height: 100%;
    width: 60px;
  }
}
