.content {

  @media #{$medium-and-up} {
    width: calc(100% - 140px);
  }

  @media #{$large-and-up} {
    width: calc(100% - 157px);
  }

  @media #{$small-and-down} {
    float: none;
    width: 100%;
  }
}
