.footer-section{
	box-sizing: border-box;
	background-color: $lightBrown;
	color: $white;
	font-family: Raleway-Thin;
	font-size: 12px;
	font-weight: bold;
	line-height: 14px;
	text-align: center;
	
		.col-small {
    	align-items: center;
			display: inline-flex;
    	justify-content: center;
			min-height: 211px;
			width: 30%;
			
		}
		.col-medium {
			align-items: center;
			display: inline-flex;
			justify-content: center;			
			min-height: 211px;
			padding: 20px;
			width: 40%;
		}	
		.col-full {width: 100%;}
		[class*="col-"] {
			float: left;
			border: 2px solid $gray;
		}
	
		.row::after {
			content: "";
			clear: both;
			display: table;
		}
	
		.address-wrapper{
			padding: 30px;
					
				.pin-image{
					background-image: url(../../assets/images/desktop/pinExample.png);
					height: 39.11px;
					width: 39.11px;
					display: inline-block;
					background-repeat: no-repeat;
					background-size: contain;
				}
		}
	
		.certified-wrapper{
				
			.moprosoft-image{
					background-image: url(../../assets/images/desktop/bitmap.png);
					height: 66px;
					width: 66px;
					display: inline-block;
					background-repeat: no-repeat;
					background-size: contain;				
			}
			
			.moprosoft-p{
				display: inline-block;
				text-align: left;
				max-width: 272px;
				margin: 15px 0px 15px 15px;
			}
		}
	
		
		.contact-wrapper{
			display: inline-block;
			text-align: left;
			
			.contact-center{
				align-items: center;
				display: inline-flex;
				justify-content: center;
				margin: 5px;
						
					.logo{
						background-size: contain;
						background-repeat: no-repeat;
						display: inline-block;
						height: 40px;
						width: 40px;
					}
					.contact-p{
						display: inline-block;
						margin: 15px 0px 15px 15px;
					}

					.facebook-logo{
						background-image: url(../../assets/images/desktop/facebookExample.png);
					}

					.mail-logo{
						background-image: url(../../assets/images/desktop/mailExample.png);	
					}
		}		
	}
	.autor-footer{
		padding: 34px;
		
			.empress-footer-logo{
				background-image: url(../../assets/images/desktop/EmpressFooter.png);
				display: inline-block;
				float: left;
				min-width: 131px;
				min-height: 27px;		
			}
			.autor{
				display: inline-block;
				float: right;
				line-height: 2.4;
			}
	}
}