.home-clients {
  color: $white;
  height: 100vh;
  margin: 0;
  overflow: hidden;

  @media #{$small-and-down} {
    height: auto;
  }

  .clients-text {
    margin-top: 4vw;
    padding: 0 20vw 0 5vw;

    @media #{$small-and-down} {
      display: inline-block;
      margin: 75px 0;
    }

    .clients-wrapper {
      margin-bottom: 3vw;
      z-index: 1;
    }

    .clients-head {
      display: inline-block;
      font-family: Raleway-Bold;

      @media #{$small-and-down} {
        margin-left: 14%;
      }
    }

    .clients-tag {
      color: $secondary;
      display: block;
      font-size: 0.9em;
      margin: 0;
      text-align: right;

      @media #{$medium-and-down} {
        text-align: center;
      }

      @media #{$small-and-down} {
        margin-bottom: 0.8em;
      }
    }

    .clients-title {
      color: $primary;
      display: inline-block;
      font-size: 5.4em;
      margin: 0 0 0.6em;

      @media #{$small-and-down} {
        font-size: 1.7em;
      }
    }

    .clients-content {
      margin-left: 25%;

      @media #{$medium-and-down} {
        margin-left: 10%;
      }

      @media #{$small-and-down} {
        margin-left: 3%;
        width: 100%;
      }
    }

    .separator-green {
      margin-left: -20px;
      
      @media #{$small-and-down} {
        border: solid 1px $white;
      }
    }

    .clients-paraghraph {
      color: $black;
      font-family: Raleway-Medium;
      font-size: 1.4em;
      line-height: 1.3em;
      margin: 2.5em 0;
    }

    .clients-btn {
      border: solid 2px $secondary;
      color: $secondary;
      display: inline-block;
      font-size: 1.1em;
      line-height: 29px;
      padding: 0 3em;
      text-transform: uppercase;

      &:hover {
        background-color: $secondary;
        color: $white;
      }

      @media #{$small-and-down} {
        font-size: 0.59em;
        padding: 0 0.9em;
      }
    }
  }

  .clients-decor {
    padding: 0;

    .decor-wrapper {
      position: relative;
      width: 100%;

      @media #{$small-and-down} {
        margin: 0;
      }
    }

    .clients-background {
      background: url('../images/texture-green-short.png') 0 0/cover no-repeat;
      height: 17vw;
      width: 145%;

      @media #{$medium-and-down} {
        background-size: 200%;
        height: 21vw;
      }

      @media #{$small-and-down} {
        bottom: 0;
        height: 47vw;
        position: absolute;
      }
    }

    .clients-image {
      background: url('../images/clients.png') center/contain no-repeat;
      height: 24vw;
      margin-top: -8vw;
      width: 100%;

      @media #{$small-and-down} {
        height: 56vw;
        margin-bottom: 36vw;
        margin-top: 0;
      }
    }
  }
}
