.home-computer {
  background-color: $secondary;
  height: 100vh;
  margin: 0;
  overflow: hidden;

  @media #{$small-and-down} {
    height: auto;
  }

  .computer-text {
    padding-left: 5vw;

    @media #{$small-and-down} {
      display: inline-block;
      margin: 72px 0;
    }
  }

  .computer-wrapper {
    margin-top: 3vw;
    z-index: 1;

    @media #{$medium-and-down} {
      margin: 0;
    }
  }

  .computer-head {
    display: inline-block;
    font-family: Raleway-Bold;

    @media #{$small-and-down} {
      margin-left: 10%;
    }
  }

  .computer-tag {
    color: $white;
    display: block;
    font-size: 0.9em;
    margin: 0;
    padding: 0 3em;
    text-align: right;

    @media #{$medium-and-down} {
      text-align: left;
    }

    @media #{$small-and-down} {
      margin-bottom: 0.8em;
      padding: 0 1.5em;
    }
  }

  .computer-title {
    color: $primary;
    display: inline-block;
    font-size: 3em;
    margin: 0 0 0.6em;

    @media #{$small-and-down} {
      font-size: 1.7em;
    }
  }

  .computer-content {
    font-size: 0.7em;
    margin-left: 40%;

    @media #{$medium-and-down} {
      margin-left: 15%;
    }

    @media #{$small-and-down} {
      margin: 0px 12.5% 0 19%;
    }
  }

  .computer-paragraph {
    color: $asphalt;
    font-size: 0.85em;
    font-family: Raleway-Medium;
    line-height: 1.5em;
    margin: 2.8em 0;
    max-width: 450px;
    padding-right: 2.2em;

    @media #{$medium-and-down} {
      font-size: 0.9em;
    }

    @media #{$small-and-down} {
      padding-right: 11%;
    }
  }

  .computer-btn {
    border: solid 2px $white;
    color: $white;
    display: inline-block;
    font-family: Raleway-Bold;
    font-size: 0.8em;
    line-height: 29px;
    padding: 0 2.5em;
    text-transform: uppercase;

    &:hover {
      background-color: $white;
      color: $secondary;
      text-decoration: none;
    }
  }

  .computer-decor {
    padding: 0;
    position: relative;
  }

  .computer-background {
    background: url('../images/texture-white.png') 0 0/cover no-repeat;
    height: 100vh;
    width: 100%;

    @media #{$small-and-down} {
      bottom: 0;
      height: 70vw;
      position: absolute;
    }
  }

  .computer-image {
    background: url('../images/computer.png') center/contain no-repeat;
    height: 43vh;
    margin: -75vh 1em 0;
    position: relative;

    @media #{$medium-and-down} {
      height: 33vh;
      margin-top: -63vh;
    }

    @media #{$small-and-down} {
      height: 55vw;
      margin-bottom: 42vw;
      margin-top: 0;
    }
  }
}
