.home-tech {
  background-color: $primary;
  margin: 0;
  position: relative;

  .tech-decor {
    height: 100vh;
    padding: 0;
    position: relative;

    .decor-wrapper {
      height: 100%;
      width: 100%;
    }

    .tech-background {
      background: url('../images/texture-green.png') 0 0/cover no-repeat;
      height: 100%;
      width: 100%;

      @media #{$small-and-down} {
        bottom: 0;
        height: 113vw;
        position: absolute;
      }
    }
  }

  .tech-image {
    background: url('../images/tech.jpg') center/cover no-repeat;
    height: 79vh;
    margin-left: 24%;
    margin-top: -90vh;
    width: 76%;

    @media #{$small-and-down} {
      height: 109.4vw;
      margin: 0 8vw 65px;
      position: relative;
      width: 84vw;
    }
  }

  .tech-text {
    height: 100vh;
    padding: 0;
    position: relative;
    z-index: 1;

    @media #{$small-and-down} {
      float: none;
    }
  }

  .text-wrapper {
    font-family: Raleway-Bold;
    margin-top: 5vw;
    padding: 0 11vw 0 12.75vw;

    @media #{$medium-and-down} {
      padding: 0 3vw 0 11.5vw;
    }

    @media #{$small-and-down} {
      margin: 72px 0 50px 0;
      padding: 0 4vw 0 24vw;
    }
  }

  .tech-title {
    color: $white;
    display: inline-block;
    font-size: 5.4em;
    margin: 0 0 0.6em -1.5em;
    width: 100%;

    @media #{$medium-and-down} {
      margin: 0 0 0.6em -1em;
    }

    @media #{$small-and-down} {
      font-size: 4em;
      margin: 0 0 0.6em -0.8em;
    }
  }

  .separator-green {
    margin-left: -10px;
  }

  .tech-paraghraph {
    color: $white;
    font-family: Raleway-Medium;
    font-size: 1.4em;
    line-height: 1.3em;
    margin: 2.5em 0;

    @media #{$medium-and-down} {
      font-size: 1.2em;
    }
  }

  .tech-btn {
    border: solid 2px $secondary;
    color: $secondary;
    display: inline-block;
    font-size: 1.1em;
    line-height: 29px;
    padding: 0 3em;
    text-transform: uppercase;

    &:hover {
      background-color: $secondary;
      color: $white;
    }

    @media #{$small-and-down} {
      padding: 0 0.9em;
    }
  }
}
