.home-who {
  margin: 0;
  margin-top: 58px;
  position: relative;

  @media #{$medium-and-down} {
    margin-top: 72px;
  }

  .who-decor {
    height: 100vh;
    padding: 0;
    position: relative;

    .decor-wrapper {
      height: 100%;
      width: 100%;
    }

    .who-background {
      background: url('../images/texture-green.png') 0 0/cover no-repeat;
      height: 100%;
      width: 100%;

      @media #{$small-and-down} {
        bottom: 0;
        height: 113vw;
        position: absolute;
      }
    }
  }

  .who-image {
    background: url('../images/who.jpg') center/cover no-repeat;
    height: 72.8vh;
    margin-left: -2.9em;
    margin-top: -90vh;
    width: 84.3%;

    @media #{$medium-and-down} {
      height: 58.2vh;
      margin-top: -85vh;
      width: 82.2%;
    }

    @media #{$small-and-down} {
      height: 109.4vw;
      margin: 0 8vw 65px;
      position: relative;
      width: 84vw;
    }
  }

  .who-text {
    height: 100vh;
    padding: 0;
    position: relative;
    z-index: 1;

    @media #{$small-and-down} {
      float: none;
    }
  }

  .text-wrapper {
    font-family: Raleway-Bold;
    margin-top: 5vw;
    padding: 0 12.25vw 0 3.5vw;

    @media #{$medium-and-down} {
      margin: 0 0 3em;
      padding: 0 2.5vw 0 12vw;
    }

    @media #{$small-and-down} {
      margin: 0 0 40px;
      padding: 0 20vw 0 22vw;
    }
  }

  .who-title {
    color: $primary;
    display: inline-block;
    font-size: 4.8em;
    margin: 0 0 0.6em -1.5em;
    width: 100%;

    @media #{$medium-and-down} {
      margin-left: -10vw;
    }

    @media #{$small-and-down} {
      font-size: 4em;
      margin-left: -7vw;
    }
  }

  .separator-green {
    margin-left: -45px;
  }

  .who-paraghraph {
    color: $asphalt;
    font-family: Raleway-Medium;
    font-size: 1.4em;
    line-height: 1.3em;
    margin: 2.5em 0;

    @media #{$medium-and-down} {
      font-size: 1.2em;
    }
  }

  .who-btn {
    border: solid 2px $secondary;
    color: $secondary;
    display: inline-block;
    font-size: 1.1em;
    line-height: 29px;
    padding: 0 5em;
    text-transform: uppercase;

    &:hover {
      background-color: $secondary;
      color: $white;
    }

    @media #{$small-and-down} {
      padding: 0 0.9em;
    }
  }

  .who-mobile {
    background: url('../images/who.jpg') center/cover no-repeat;
    height: 38vw;
    margin: 10%;
    width: 80%;
  }
}
